#menu-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: black;
    z-index: 1001;
}
#side-nav {
    position: fixed;
    top: 0;
    left: -220px;
    width: 150px;
    height: 100%;
    background-color: black;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}
#side-nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px ;
    text-decoration: none;
    font-size: 25px;
}
#side-nav a:hover {
    background-color: rgb(21, 171, 197);
    color: black;
}
#menu-trigger:hover + #side-nav, #side-nav:hover {
    left: 0;
}