     nav {
            height: 100%;                
            width: 100px;                  
            background: black;              
            position: fixed;
            display: flex;
            flex-direction: column;        
        }
        nav a {
            text-decoration:none;
            font-size: 15px;
            color: rgb(217, 215, 215);
            padding:30px 25px ;
        }
        nav a:hover {
            background-color: rgb(78, 63, 63);
        }
             body {
            /* margin-top: 0px; */
            margin: 0px;
            background-color: white;
}